<div class="item-buttons {{editable-item list.id item.list.id}}">
	<button class="quantity" {{action "decreaseQuantity" item}}>-</button> 
	<button class="quantity" {{action "increaseQuantity" item}}>+</button> 
	<button class="delete" {{action "deleteItem" item list}}>X</button>
</div>