<div id="static-info">

	<h2>About this App</h2>

	<p>For months now, I've wanted a grocery list app that would allow me to save separate lists and then just select the lists
	I wanted to be added to my master shopping list, along with allowing me to add any additional items not saved in a separate 
	'recipe' list (paper towels, trash bags, etc.). I've had mobile apps that come close to this, but only by letting me save 
	multiple lists and then going no further; they never gave me the ability to select lists to be included and then compile all 
	my items into one master list. So when I needed a good project to get me started in ember.js, this seemed like a good place to 
	start. <strong>Note: This app currently uses fixture data so any changes will persist in the current session but will not be 
	saved to the server.</strong></p>

	<p>This is my first ember project, using v1.13 with ember-cli. I spent two to three days per week working on it for about four 
	weeks. Here are some of the tools I used:</p>

	<ul>
		<li>Fixture data</li>
		<li>Nested routing</li>
		<li>Handelbar helpers</li>
		<li>One-to-many model relationships</li>
		<li>Multiple models in a single route</li>
		<li>Input helpers</li>
		<li>Computed properties</li>
		<li>Components</li>
	</ul>

	<p>Ideally this should be a mobile app, so when I start studying mobile development, this will likely be my first project.</p>

</div>
