<header>
	<h1 id="title">list:<span class="white">less</span></h1>
	<nav>
		<ul>
			<li>{{#link-to 'index'}}Home{{/link-to}}</li>
			<li>{{#link-to 'about'}}About this App{{/link-to}}</li>
		</ul>
	</nav>
</header>

<div id="container">

	{{outlet}}

</div>

<footer>
<p>&copy; 2015 Amy Rebecca Tucker. Made with <a href="http://emberjs.com" target="_blank">ember</a>.<br />
The source code is available on <a href="https://github.com/Tilt-A-Whirl/list-less" target="_blank">GitHub</a>.</p>
</footer>